/* To style the image hover effect */
.image-hover-1:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 5px;
}
.image-hover-2:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 5px;
}